<section id="details">
    <div class="contact-inner">
        <div class="contact-content">
            <img src="/img/icons/team.svg" alt="">
            <h3>Team Size</h3>
            <p>6</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/unreal.svg" alt="">
            <h3>Game Type</h3>
            <p>Unreal Engine 5</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/calendar.svg" alt="">
            <h3>Dev Time</h3>
            <p>4 Months</p>
        </div>
        <div class="contact-content">
            <img src="img/icons/portrait.svg" alt="">
            <h3>Primary Role</h3>
            <p>Programmer/Leadership</p>
        </div>

    </div>
</section>
