<section class="two-column-grid dark">
    <div class="grid-item">
        <img src="/img/first-game.jpg" alt="">
    </div>
    <div class="grid-item-text">
        <h3>A Little About Me</h3>
        <hr>
        <p>I’ve been making games since my teeth were falling out. 
            It’s always been my dream to run my own studio one day. 
            I am determined to make that dream a reality. I started 
            my journey in Unity, with my very first game: Big Chicken. 
            Over the years I’ve expanded into Godot, Unreal Engine, 
            and even engineless.</p>
    </div>
</section>