<header>
    <div class="about-content" id="about">
        <div class="about-content-inner">
            <div class="about-content-left">
                <img src="/img/comicselfie.png" alt="">
            </div>
            <div class="about-content-right">
                <h1>Hi!</h1>
                <p>I’m Jaden. I’m a mechanics programmer and systems designer who’s 
                all about creating unique and fun experiences. I’m currently studying 
                Game Design and Computer Science at High Point University. I’m a Godot 
                fanatic, Linux enthusiast, and programming junkie.</p>
            </div>
        </div>
    </div>
</header>