<section id="contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
             <h2 class="section-heading">Links</h2>
            <hr class="primary">
            <p>Interested in working with me or seeing more of my work? Here's my links:</p>
        </div>
    </div>
    <div class="contact-inner">
        <div class="contact-content">
            <a href="https://jharnar.itch.io/">
                <img src="/img/icons/itch-io.svg" alt="">
                <p>jharnar.itch.io</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="mailto:jharnar@vivaldi.net">
            <img src="/img/icons/envelope.svg" alt="">
                <p>jharnar@vivaldi.net</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="https://github.com/Vatvo">
            <img src="/img/icons/github.svg" alt="">
                <p>github.com/Vatvo</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="https://www.linkedin.com/in/jaden-harnar/">
            <img src="img/icons/linkedin.svg" alt="">
            <p>linkedin.com/in/jaden-harnar</p>
            </a>
        </div>

    </div>
</section>
