<section id="contact">
    <div class="text-center">
        <h2 class="section-heading">Links</h2>
        <hr class="primary">
        <p>Interested in working with me or seeing more of my work? Here's my links:</p>
    </div>
    <div class="contact-inner">
        <div class="contact-content">
            <a href="https://jharnar.itch.io/">
                <img src="/img/icons/itch-io.svg" alt="">
                <p>jharnar.itch.io</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="mailto:jharnar@vivaldi.net">
            <img src="/img/icons/envelope.svg" alt="">
                <p>jharnar@vivaldi.net</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="https://github.com/Vatvo">
            <img src="/img/icons/github.svg" alt="">
                <p>github.com/Vatvo</p>
            </a>
        </div>
        <div class="contact-content">
            <a href="https://www.linkedin.com/in/jaden-harnar/">
            <img src="img/icons/linkedin.svg" alt="">
            <p>linkedin.com/in/jaden-harnar</p>
            </a>
        </div>

    </div>
</section>

<section id="contact-form">
     <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mailto:jharnar@vivaldi.net" method="POST">
              <div class="row">
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="name" name="name" class="form-control">
                          <label for="name" class="">Your name</label>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="email" name="email" class="form-control">
                          <label for="email" class="">Your email</label>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" class="">Subject</label>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">

                      <div class="md-form">
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                          <label for="message">Your message</label>
                      </div>
                  </div>
              </div>
          </form>

          <div class="text-center text-md-left">
              <a data-mdb-ripple-init class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div>
          <div class="status"></div>
      </div>

  </div>
</section>
