<section class="no-padding graveyard">
    <h3 class="text-center no-padding">Graveyard of Dead Projects</h3>
    <h4 class="text-center no-padding">Projects that are old or didn't get completed. R.I.P. to the many fallen.</h4>
    <hr>
    <div class="marquee-container">
            <span class="marquee">
                <div class="headstone">
                    <p>Big Chicken</p>
                    <p>2015</p>
                </div>
                <div class="headstone">
                    <p>Hyperspace</p>
                    <p>2017</p>
                </div>
                <div class="headstone">
                    <p>Conquistador</p>
                    <p>2021</p>
                </div>
                <div class="headstone">
                    <p>Macrophage</p>
                    <p>2022</p>
                </div>
                <div class="headstone">
                    <p>The Can Opener</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Detective</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Budget Hero</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>SPEEP</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Battle Mages</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Radical Atomic Driving</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Paleontology Game</p>
                    <p>2024</p>
                </div>
                <div class="headstone">
                    <p>Robin Hood Game</p>
                    <p>2024-2025</p>
                </div>
                <div class="headstone">
                    <p>Trolley Game</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Ants</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>The End of the World</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Cheerio Game</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Paper Plane Game</p>
                    <p>2025</p>
                </div>
            </span>

            <span class="list2 marquee">
                <div class="headstone">
                    <p>Big Chicken</p>
                    <p>2015</p>
                </div>
                <div class="headstone">
                    <p>Hyperspace</p>
                    <p>2017</p>
                </div>
                <div class="headstone">
                    <p>Conquistador</p>
                    <p>2021</p>
                </div>
                <div class="headstone">
                    <p>Macrophage</p>
                    <p>2022</p>
                </div>
                <div class="headstone">
                    <p>The Can Opener</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Detective</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Budget Hero</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>SPEEP</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Battle Mages</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Radical Atomic Driving</p>
                    <p>2023</p>
                </div>
                <div class="headstone">
                    <p>Paleontology Game</p>
                    <p>2024</p>
                </div>
                <div class="headstone">
                    <p>Robin Hood Game</p>
                    <p>2024-2025</p>
                </div>
                <div class="headstone">
                    <p>Trolley Game</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Ants</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>The End of the World</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Cheerio Game</p>
                    <p>2025</p>
                </div>
                <div class="headstone">
                    <p>Paper Plane Game</p>
                    <p>2025</p>
                </div>
            </span>
    </div>
</section>