<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-content-left">
                <img src="/img/ProfilePicture.png" alt="">
            </div>
            <div class="header-content-right">
                <h1>Jaden Harnar</h1>
                <hr>
                <p>Hi! My name is Jaden. I’m a mechanics programmer, systems engineer, and level designer.</p>
                <p>I like to create experiences that challenge players in unique and fascinating ways.</p>
                <p>I work primarily in Unreal Engine and Godot, but I am an avid learner who’s willing to give anything a try.</p>
            </div>
            
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">View My Stuff</a>
        </div>
    </div>
</header>
