<section id="meninjer" class="two-column-grid dark">
    <div class="grid-item">
        <video src="/videos/meninjer.mp4" muted loop autoplay></video>
    </div>
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Meninjer: Never Say Die</h3>
            <hr>
            <p>I worked on a game called Meninjer: Never Say Die. 
                It’s an action beat-em-up for the Play Station 5. 
                I worked on various aspects of the project, including 
                UI, Level Design, and Source Control Management.</p>
            <p>
            <p> Unfortunately I can't talk about this project much since
                it's still unreleased.
            </p>
            <p>
                <a href="https://meninjer.com/" target="_blank">See More Here</a>
            </p>
        </div>
    </div>
</section>