<header class="project-header">
    <div class="project-header" id="Kogi">
        <div class="project-header-content">
            <div class="project-header-left">
                <img src="/img/portfolio/KoGiArts.png" alt="">
            </div>
            <div class="project-header-right">
                <div class="project-header-right-content">
                    <h1>KoGi Arts</h1>
                    <div class="project-links">
                        
                    </div>
                    <hr>
                    <br>
                    <div class="project-details-single">
                        <div class="contact-content">
                            <img src="img/icons/portrait.svg" alt="">
                            <h3>Primary Role</h3>
                            <p>Source Control Management</p>
                        </div>
                    </div>
                    <div class="project-details">
                         <div class="contact-content">
                            <img src="/img/icons/briefcase.svg" alt="">
                            <div class="details-text">
                                <h3>Vocation</h3>
                                <p>Game Dev</p>
                            </div>
                        </div>
                        <div class="contact-content">
                            <img src="/img/icons/calendar.svg" alt="">
                            <div class="details-text">
                                <h3>Duration</h3>
                                <p>Summer-Fall 2025</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a href="#meninjer" class="btn btn-primary btn-xl page-scroll">See More</a>
    </div> 
</header>