<section class="two-column-grid light">
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Diversion</h3>
            <hr>
            <p>
                My largest contribution to the project was source control management.
                When I came on, the team had just started using a new version control system
                called Diversion, which is designed specifically for Unreal Engine 5.
            </p>
            <p>
                After a few months of work, the project was fractured across a variety of branches.
                My job was to take all those branches and merge them together to create a playable demo.
            </p>
        </div>
    </div>
    <div class="grid-item">
        <img src="/img/diversion.png" alt="">
    </div>
</section>