<section class="no-padding three-column-grid dark" id="NineIronRealmsBall">
    <div class="grid-item">
        <video src="/videos/NineIronRealms/BallEarlyDraft.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <video src="/videos/NineIronRealms/BallFinalProduct.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <div class="grid-item-text">
            <h3>The Perfect Ball</h3>
            <hr>
            <p>The feel of the ball one of the most crucial aspects 
            of Nine Iron Realms. Dialing in the shot power was 
            a major challenge. Each one had to feel powerful, but also 
            controlled. I spent hours tweaking power and bounces to make 
            sure every shot was satisfying.</p>
        </div>
    </div>
</section>