<section class="no-padding two-column-grid dark">
    <div class="grid-item">
        <video src="/videos/NineIronRealms/NineIronRealmsShaders.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Beautifying</h3>
            <hr>
            <p>Aesthetics are the key to creating a standout game. I 
            made shaders for the grass, sky, and ice to make our game 
            look unique.</p>
        </div>
    </div>
</section>