<header class="project-header">
    <div class="project-header" id="no-rizz-header">
        <div class="project-header-content">
            <div class="project-header-left">
                <video src="/videos/portfolio/NineIronRealms.mp4" class="img-responsive" autoplay muted loop playsinline></video>
            </div>
            <div class="project-header-right">
                <div class="project-header-right-content">
                    <h1>Nine Iron Realms</h1>
                    <div class="project-links">
                        
                    </div>
                    <hr>
                    <!--<p>
                        War, famine, disease. These disasters plague our society everyday. 
                        Millions suffer at the whims of our uncaring universe. But more importantly, 
                        the people lack rizz. While we can't help this problem, we can help make it worse. 
                    </p>-->
                    <div class="project-details">
                        <div class="contact-content">
                            <img src="/img/icons/team.svg" alt="">
                            <div class="details-text">
                                <h3>Team Size</h3>
                                <p>7</p>
                            </div>
                        </div>
                        <div class="contact-content">
                            <img src="/img/icons/godot.svg" alt="">
                            <div class="details-text">
                                <h3>Game Type</h3>
                                <p>Godot</p>
                            </div>
                        </div>
                        <div class="contact-content">
                            <img src="/img/icons/calendar.svg" alt="">
                            <div class="details-text">
                                <h3>Dev Time</h3>
                                <p>5 Months</p>
                            </div>

                        </div>
                        <div class="contact-content">
                            <img src="img/icons/portrait.svg" alt="">
                            <div class="details-text">
                                <h3>Primary Role</h3>
                                <p>Lead Programmer</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a href="#NineIronRealmsBall" class="btn btn-primary btn-xl page-scroll">See More</a>
    </div> 
</header>