<section class="no-padding three-column-grid">
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Designing a Challenge</h3>
            <hr>
            <p>The fun of Nine Iron Realms comes from its wide array of obstacles 
                and challenges. I designed wind columns, canons, rail-grinds, 
                spinners, and many more.</p>
        </div>
    </div>

    <div class="grid-item">
        <video src=""></video>
    </div>

    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Developing for Non-Devs</h3>
            <hr>
            <p>Most of my team does not know how to program, so it’s my job to make 
                sure they don’t have to. I made every obstacle with a custom tool so 
                the level designs and artists can do their jobs without having to touch 
                a single line of code.</p>
        </div>
    </div>
</section>