<section id="contact">
    <div class="contact-inner">
        <div class="contact-content">
            <img src="/img/icons/team.svg" alt="">
            <h3>Team Size</h3>
            <p>4</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/card.svg" alt="">
            <h3>Game Type</h3>
            <p>Card Game</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/calendar.svg" alt="">
            <h3>Dev Time</h3>
            <p>1 Year</p>
        </div>
        <div class="contact-content">
            <img src="img/icons/portrait.svg" alt="">
            <h3>Primary Role</h3>
            <p>Business Admin</p>
        </div>

    </div>
</section>
