<section class="no-padding two-column-grid dark">
    <div class="grid-item">
        <video src="/videos/BobGame/BobDraw.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Coloring in the Lines</h3>
            <hr>
            <p>Papercut’s main gimmick is drawing on canvases. 
                I helped co-create the system that checks if 
                players are drawing correctly. It compares 
                their drawing to a template, plus or minus a 
                little leeway.</p>
        </div>
    </div>
</section>