<section class="no-padding two-column-grid dark">
    <div class="grid-item">
        <video src="/videos/BobGame/BobDialogue.mp4" muted loop autoplay></video>
    </div>
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Characters</h3>
            <hr>
            <p>We made this game for a narrative design class, 
                so I wrote the dialogue for some of the characters. 
                I’m particularly proud of Deadbeat Baby Cop and Hillbilly 
                Tractor.</p>
        </div>
    </div>
</section>