<section class="three-column-grid light">
    <div class="grid-item">
        <video src="/videos/BobGame/BobStartHub.mp4" muted loop autoplay></video>
    </div>
    <div class="grid-item">
        <video src="/videos/BobGame/BobLevels.mp4" muted loop autoplay></video>
    </div>
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Level Designs</h3>
            <hr>
            <p>I designed Papercut’s levels to feel open and bright. 
                Each one has a unique aspect to make them memorable, 
                interesting, and fun. Even something as simple as the 
                opening bend can be unique in a 2D sidescroller.</p>
        </div>
    </div>
</section>