<section class="no-padding portfolio" id="portfolio">
    <h2 class="portfolio-title">Portfolio</h2>
    <hr>
    <div>
        <div class="portfolio-grid-container">
            <!--<div class="grid-item">
                <a href="/no-rizz.html" class="portfolio-box">
                    <video src="/videos/portfolio/NoRizz.mp4" class="img-responsive" autoplay muted loop playsinline></video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Card Game
                            </div>
                            <div class="project-name">
                                No Rizz?
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="grid-item">
                <a href="/shapegame.html" class="portfolio-box">
                    <video src="/videos/portfolio/ShapeGame.mp4" class="img-responsive" autoplay muted loop playsinline></video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Godot
                            </div>
                            <div class="project-name">
                                Shape Game
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="/nine-iron-realms.html" class="portfolio-box">
                    <video src="/videos/portfolio/NineIronRealms.mp4" class="img-responsive" autoplay muted loop playsinline></video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Godot
                            </div>
                            <div class="project-name">
                                Nine Iron Realms
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="grid-item">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/TempImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alt Control
                            </div>
                            <div class="project-name">
                                Wizard Lizard Rock Paper Scissors
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <!--<div class="grid-item">
                <a href="/8k-pizza.html" class="portfolio-box">
                    <video src="/videos/portfolio/8kPizza.mp4" class="img-responsive" autoplay muted loop playsinline></video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Unreal Engine 5
                            </div>
                            <div class="project-name">
                                8K Pizza
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="grid-item">
                <a href="/papercut.html" class="portfolio-box">
                    <video src="/videos/portfolio/BobGame.mp4" class="img-responsive" autoplay muted loop playsinline></video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Unreal Engine 5
                            </div>
                            <div class="project-name">
                                Papercut! (Bob's Misadventures)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% include graveyard.html %}
    </div>
</section>
