<section id="details">
    <div class="contact-inner">
        <div class="contact-content">
            <img src="/img/icons/team.svg" alt="">
            <h3>Team Size</h3>
            <p>1</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/godot.svg" alt="">
            <h3>Game Type</h3>
            <p>Godot</p>
        </div>
        <div class="contact-content">
            <img src="/img/icons/calendar.svg" alt="">
            <h3>Dev Time</h3>
            <p>6 Weeks</p>
        </div>
        <div class="contact-content">
            <img src="img/icons/portrait.svg" alt="">
            <h3>Primary Role</h3>
            <p>Solo Dev</p>
        </div>

    </div>
</section>
