<section class="no-padding three-column-grid light" id="NineIronRealmsBall">
    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Aesthetics</h3>
            <hr>
            <p>My primary focus for this project was aesthetics. 
            I learned Godot’s shader language (basically GLSL). 
            I also learned a lot about color theory and UI design.</p>
        </div>
    </div>
    
    <div class="grid-item">
        <video src="/videos/ShapeGame/shapegame-colors.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <video src="/videos/ShapeGame/shapegame-ui.mp4" muted loop autoplay></video>
    </div>
</section>