<section class="no-padding two-column-grid dark">
    <div class="grid-item">
        <video src="/videos/ShapeGame/ShapeGamePhysics.mp4" muted loop autoplay></video>
    </div>

    <div class="grid-item">
        <div class="grid-item-text">
            <h3>Learning Godot</h3>
            <hr>
            <p>Shape Game was my first project learning Godot. 
            I chose not to use the built in physics so I could 
            learn how to build it all from scratch. Gravity, 
            bouncing, friction, I built it all on my own.</p>
        </div>
    </div>
</section>