<section class="no-padding portfolio" id="work-history">
    <h2 class="portfolio-title">Work History</h2>
    <hr>
    <div>
        <div class="work-grid-container">
            <!--<div class="grid-item">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/JasonHunterDesign.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Summer 2019 | Internship
                            </div>
                            <div class="project-name">
                                Jason Hunter Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="grid-item">
                <a href="#" class="work-box">
                    <img src="img/portfolio/FontAwesome.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Summer 2024 | Internship
                            </div>
                            <div class="project-name">
                                Font Awesome
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="#" class="work-box">
                    <img src="img/portfolio/KoGiArts.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Summer 2025 - Present | Source Control Management
                            </div>
                            <div class="project-name">
                                KoGi Arts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
</section>
