.grid-item-text {
    height: fit-content;
    width: 60%;
    border-radius: 10px;
    h3 {
        text-align: center;
    }
    p {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    @media (max-width: 992px) {
        width: 90%;
        margin: 0px auto;
    }
}

.dark {
    background-color: #040707;

    .grid-item-text {
        background-color: #E4E2FD;
        padding: 10% 20px;
    }
     h3, p {
        color: black;
     }
}

.light {
    video {
        filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
    }
}

.two-column-grid {
    .grid-item {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        @media (max-width: 992px) {
            width: 90%;
            margin: 0px auto;
        }
    }
    video {
        width: 90%;
    }

    @media (min-width: 992px) {
        display: flex;
        padding: 40px 10%;
    }
}

.three-column-grid {
    .grid-item {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        @media (max-width: 992px) {
            width: 90%;
            margin: 0px auto;
        }
    }
    video {
        width: 90%;
    }

    @media (min-width:992px) {
        display: flex;
        padding: 40px 5%;
    }
}
