.project-header {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    @include background-cover;
    background-position: center;
    background-image: url('../img/HeaderBackground-Thick.png');
}
.project-header-content {
    min-height: 90dvh;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    @media (min-width: 992px) {
        padding-top: 0;
        display: grid;
        grid-template-columns: 60% 40%;
    }
    
}

.project-header-left {
    display: flex;
    align-items: center;

    video {
        width: 100%;
        filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
    }
}

.project-header-right {
    display: flex;
    align-items: center;
    padding: 0 10%;
    
    @media (max-width: 992px) {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .project-header-right-content{
        background-color: #E4E2FD;
        padding: 10px 60px;
        filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
        border-radius: 30px;

        @media (max-width: 992px) {
            padding: 10px 10px;
        }
        .project-details {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 90px;   

            .contact-content {
                width: 100%;
                margin: 0;
            }

            h3 {
                color: #666;
                font-size: 1.5rem;
                margin: 0;
                padding: 0;
            }

            p {
                font-size: 2rem;
                color: black;
            }
            img {
                width: 100%;
                max-width: 100px;
            }

            .details-text {
                height: 100px;
                width: 130px;
            }
            @media (max-width: 992px) {
                column-gap: 0;
                margin: 0;
                .details-text {
                    height: 100px;
                    width: 130px;
                }
            }
        }
        }

    hr {
        border-color: black;
        margin: 0 auto;  
    }
    
    svg {
        width: 8rem;
        fill: black;
        filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
        transition: 0.2s;
    }
    
    svg:hover {
        fill: $theme-primary;
        filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .7));
        transition: 0.2s;
    }
    h1 {
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        text-align: center;
        font-weight: bolder;
        color: #E4E2FD;
        font-size: 1.5rem;
    }
}